<h5>Menu1</h5>
<p>Only the links with  @ have information included at present.</p>
<p>A website that has a more complete history.</p> <h5>https://abusedblackamericans.herokuapp.com</h5>
 



<li>@<%= link_to "believe", believe_path %></li>

<li><%= link_to "help", help_path %></li>

<li><%= link_to "about", about_path %></li>

<li>@<%= link_to "contact", contact_path %></li>

<li><%= link_to "menu2", menu2_path %></li>

<li><%= link_to "menu3", menu3_path %></li>

<li><%= link_to "menu4", menu4_path %></li>

<li>@<%= link_to "Peter Salem", petersalem_path %></li>

<li>@<%= link_to "Prince Whipple and Oliver Cromwell", princewhipple_path %></li>

<li>@<%= link_to "James Armistead", jamesarmistead_path %></li>

<li>@<%= link_to "Historian William Nell and others", historianswilliamnell_path %></li>

<li>@<%= link_to "Frederick Douglass", frederickdouglass_path %></li>

<li>@<%= link_to "St. Thomas Church", stthomaschurch_path %></li>

<li>@<%= link_to "Rev. Absalom Jones", revabsalomjones_path %></li>

<li><%= link_to "Rev Richard Allen",  revrichardallen_path %></li>

<li>@<%= link_to "Dred Scott", dredscott_path %></li>


<li>@<%= link_to "Emancipation", emancipation_path %></li> 

 <li><%= link_to "African Slavery", africanslavery_path %></li>

 <li><%= link_to "Rev. Henry Garnet", revhenrygarnet_path %></li>

 <li>@<%= link_to "Attorney John Rock", attorneyjohnrock_path %></li>

 <li><%= link_to "Ten Commandments", tencommandments_path %></li>

 <li><%= link_to "Reconstruction", reconstruction_path %></li>

 <li><%= link_to "Republican U.S. Rep Joseph H. Rainey", republicanusrepjosephhrainey_path %></li>

 <li><%= link_to "Fisrt Seven Elected", fisrtsevenelected_path %></li>

 <li><%= link_to "Rev. Revels three black regiments", revrevelsthreeblackregiments_path %></li>

<li><%= link_to "Menu2", menu2_path %></li>

    
    
