<h5>menu2</h5>
<li><%= link_to "Menu1", menu1_path %></li>

<li><%= link_to "Josiah Walls", josiahwalls_path %></li> 

 <li><%= link_to "Republican Senator Hiram R. Revels", republicansenatorhiramrrevels_path %></li>

 <li><%= link_to "Republican Senator Blanche K. Bruce", republicansenatorblanchekbruce_path %></li>

 <li><%= link_to "Republican U.S. Rep. Robert Belliot", republicanusreprobertbelliot_path %></li>

 <li><%= link_to "Republican U.S. Rep. Joseph H. Rainey-2", republicanusrepjosephhrainey2_path %></li>

 <li><%= link_to "Republican U.S. Rep. Richard Cain", republicanusreprichardcain_path %></li>

 <li><%= link_to "Black American Soldiers", blackamericansoldiers_path %></li>

 <li><%= link_to "Republican U.S. Rep. John R.Lynch", republicanusrepjohnrlynch_path %></li>

 <li><%= link_to "Republican U.S. Rep. Josiah Walls", republicanusrepjosiahwalls_path %></li>

 <li><%= link_to "Republican U.S. Rep. Joseph H. Rainey-3", republicanusrepjosephhrainey3_path %></li> 

 <li><%= link_to "Republican U.S. Rep.John R.Lynch-2", republicanusrepjohnrlynch2_path %></li>

 <li><%= link_to "Republican U.S. Rep.Robert Brown Elliot", republicanusreprobertbrownelliot_path %></li>

 <li><%= link_to "Rep.James Rapier", repjamesrapier_path %></li>

 <li><%= link_to "Rev.Charles_C.L._Jackson", revcharlescljackson_path %></li>

 <li><%= link_to "Rev.Richard Allen-2",revrichardallen2_path %></li>

 <li><%= link_to "Rep.Richard Cain", reprichardcain_path %></li>

 <li><%= link_to "Rep.Joseph H. Rainey-4", repjosephhrainey4_path %></li>

 <li><%= link_to "Frederick Douglass-2", frederickdouglas2_path %></li>  

 <li><%= link_to "Tom Moss", tommoss_path %></li> 

 <li><%= link_to "Fredrick Morrow & Eisenhower", fredrickmorroweisenhower_path %></li>

 <li><%= link_to "Dr.Martin Luther King", drmartinlutherking_path %></li>

 <li><%= link_to "Rep. J.C Watts", repjcwatts_path %></li>

 <li><%= link_to "reprobertbrownelliot", reprobertbrownelliot_path %></li>

 <li><%= link_to "Frederick Douglass-3", frederickdouglas3_path %></li>

 <li><%= link_to "Rev. Francis Grimke", revfrancisgrimke_path %></li>

 <li><%= link_to "First Seven with Verses", firstsevenwithverses_path %></li>

 <li><%= link_to "Menu3", menu3_path %></li>

 <li><%= link_to "Menu1", menu1_path %></li>

  
